@if (validRandom) {
    <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
        <div class="background"></div>
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title class="app-title">New User</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="password" name="password" placeholder="New Password" formControlName="password"
                        [formGroup]="form" required>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput type="password" placeholder="Repeat Password" formControlName="confirmPassword"
                        [formGroup]="form" required>
                </mat-form-field>
    
            </mat-card-content>
    
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Change Password</button>
            <div class="additional-links">
    
                <a routerLink="/login" class="forgot-password">Go to Login</a>
                <span class="separator">|</span>
                <a routerLink="/new-user" class="create-account">Create new account</a>

                @if (form.controls['confirmPassword'].errors?.['not_the_same']) {
                    <mat-toolbar>Password not match</mat-toolbar>
                }
                @if (message) {
                    <mat-toolbar>{{message}}</mat-toolbar>
                }        
            </div>        
        </mat-card>            
    </form>
}@else{
        <mat-toolbar>Link is not active</mat-toolbar>
}