<mat-dialog-content>
    <mat-toolbar>
        <span>Medic Info</span>
    </mat-toolbar>

    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Primary Name" [(ngModel)]="medic.primaryName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="medic.surname">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CMP" [(ngModel)]="medic.cmpMedic">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Photo" [(ngModel)]="medic.photo">
        </mat-form-field>

        @if (medic.photo) {
        <img mat-card-image [src]="medic.photo" alt="Photo of medic">
        }
    </div>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><button mat-raised-button color="primary" (click)="operate()">Done</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="accent" (click)="close()">Cancel</button></mat-grid-tile>
    </mat-grid-list>    

</mat-dialog-content>