<form [formGroup]="form" class="example-container" (submit)="operate()">

  <div [hidden]="true">
      <mat-form-field>
          <input matInput placeholder="ID" required formControlName="idSignos">
      </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="fecha"
        (dateChange)="getDate($event)">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>Patients</mat-label>
    <mat-select formControlName="idPatient">
        @for (p of patients; track $index) {
        <mat-option [value]="p.idPatient">{{p.firstName}} {{p.lastName}}</mat-option>
        }
    </mat-select>
</mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Temperatura" required formControlName="temperatura">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Ritmo" required formControlName="ritmo">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
      <mat-icon>done</mat-icon>
      <span>Done</span>
  </button>

  <button mat-raised-button color="accent" type="button" routerLink="/pages/signos">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
  </button>
</form>